.wrapper {
  display: inline-flex;
  padding: 8px 9px;
  gap: 6px;
  border-radius: 28px;
  background: ds.color('Overlay/Teritary');
  backdrop-filter: blur(22px);
  -webkit-backdrop-filter: blur(22px);
}
