.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  // height: 64px;
  padding-bottom: var(--safe-area-inset-bottom);
  backdrop-filter: blur(10px);
  background: ds.color('Background/Secondary');
  // border-top: 1px solid ds.color('Border/Primary');
  box-shadow: 0 -1px 0 ds.color('Border/Primary');
  z-index: 50;
}
