.wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
  gap: 16px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 24px 0;
}

.avatar {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: ds.color('Background/Secondary');
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatarImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatarFallback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: ds.color('Background/Secondary');
}

.avatarIcon {
  color: ds.color('Text/Secondary');
}

.userInfo {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-self: stretch;
  align-items: center;
}

.name {
  @include ds.typo('Roboto/Title 3/Semibold');
  color: ds.color('Text/Primary');
}

.phone, .email {
  @include ds.typo('Roboto/Subheadline 2/Regular');
  color: ds.color('Text/Secondary');
}

.editButton {
  position: absolute;
  bottom: calc(50% - 12px);
  right: 0;
  cursor: pointer;
  text-decoration: none;
}

.editIcon {
  color: ds.color('Graphic/Brand');
}

.starIcon,
.menuIcon {
  font-size: 16px;
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statusBadge {
  @include ds.typo('Roboto/Caption 1/Semibold');
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  background-color: ds.color('Background/Secondary');
  border-radius: 10px;
  color: ds.color('Text/Primary');
  cursor: pointer;
}

.starIcon {
  color: ds.color('Graphic/Brand');
}

.chevron {
  color: ds.color('Text/Secondary');
}

.statsSection {
  display: flex;
  gap: 8px;
}

.statItem {
  flex: 1;
}

.statItemContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;;
  gap: 4px;
  flex: 1;
  padding: 12px;
  background-color: ds.color('Background/Secondary');
  border-radius: 16px;
}

.statLabel {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Primary');
}

.statValue {
  @include ds.typo('Roboto/Title 3/Semibold');
  color: ds.color('Text/Brand');
}

.statValuePostfix {
  margin-left: 4px;
  @include ds.typo('Roboto/Subheadline 2/Semibold');
  color: ds.color('Text/Brand');
}

.menuSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menuItem {
  display: flex;
  min-height: 64px;
  padding: 12px 16px 12px 12px;
  align-items: center;
  gap: 12px;
  align-self: stretch;

  background-color: ds.color('Background/Secondary');
  border-radius: 16px;
  cursor: pointer;
}

.menuIcon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 6px;
  justify-content: center;
  align-items: center;
  color: ds.color('Graphic/Brand');
  flex-shrink: 0;
  background: ds.color('Background/Accent');
  border-radius: 50%;
}

.menuContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menuTitle {
  @include ds.typo('Roboto/Subheadline 2/Regular');
  color: ds.color('Text/Primary');
}

.menuSubtitle {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Secondary');
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 12px;
}

.footerLink {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Secondary');
  cursor: pointer;
}

.divider {
  height: 0.5px;
  align-self: stretch;
  background: ds.color('Background/Teritary');
}

.certificateBadge {
  @include ds.typo('Roboto/Caption 1/Semibold');
  color: ds.color('Text/Alternative');

  margin: 0 6px;
  width: 20px;
  height: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background: ds.color('Graphic/Brand');
}