.wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px var(--outer-horizontal-padding, 16px);
  gap: 32px;
}

.stub {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include ds.typo('Roboto/Subheadline 2/Regular');
  color: ds.color('Text/Secondary');
  margin: 0;
}

.error {
  color: ds.color('Text/Error');
}

.dayBlocks {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dayBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .day {
    @include ds.typo('Roboto/Caption 1/Bold Caps');
    color: ds.color('Text/Secondary');
  }
}