.wrapper {
  flex-grow: 1;
  --outer-horizontal-padding: 16px;

  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 0;
  padding-top: calc(var(--tg-safe-area-inset-top) + var(--tg-content-safe-area-inset-top));
}

.header {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  padding: 0;
  // padding-top: 24px;
  width: 100%;
}

.title {
  @include ds.typo('Roboto/Title 1/Bold');
  display: block;
  margin: 0;
  margin-top: 20px;
  padding: 0 var(--outer-horizontal-padding);
  color: ds.color('Text/Primary');
}

.imageSlider + .title {
  margin-top: 24px;
}

.body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0 var(--outer-horizontal-padding);
}