.wrapper {
  color: ds.color('Text/Primary');
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 32px var(--outer-horizontal-padding, 16px) 0;
}

.top {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.divider {
  background: ds.color('Border/Primary');
  height: .5px;
}