.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;

  flex: 1 0 0;

  padding: 12px 0 16px;
  margin: 0;
  border: none;
  background: transparent;

  transition: .15s ease-out;
  color: ds.color('Text/Teritary');
}

.wrapper--ios {
  padding: 8px 12px 4px;
  gap: 4px;
}

.wrapper--selected {
  color: ds.color('Text/Brand');
}

.wrapper--selected:not(.wrapper--ios) .icon {
  background: ds.color('Background/Accent');
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 64px;
  padding: 2px 10px;
  border-radius: 35px;
}

.text {
  white-space: nowrap;
  max-inline-size: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
