.sessions {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.stub {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include ds.typo('Roboto/Subheadline 2/Regular');
  color: ds.color('Text/Secondary');
  margin: 0;
}