.wrapper {
  height: 100%;
  padding: 16px 16px 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 0 40px;

  .title {
    @include ds.typo('Roboto/Title 2/Bold');
    margin: 0;
    color: ds.color('Text/Primary');
  }

  .description {
    @include ds.typo('Roboto/Subheadline 2/Regular');
    color: ds.color('Text/Secondary');
  }
}

.icon {
  color: ds.color('Graphic/Brand');
}

.controls {
  display: flex;
  justify-content: center;
  align-self: center;
  gap: 4px;
}