.wrapper {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2px;
  border-radius: 16px;
  background: ds.color('Background/Secondary');
}

.nameTime, .priceSeats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.name {
  @include ds.typo('Roboto/Subheadline 2/Bold');
  color: ds.color('Text/Primary');
}

.time {
  @include ds.typo('Roboto/Subheadline 2/Bold');
  color: ds.color('Text/Brand');
}

.location {
  @include ds.typo('Roboto/Caption 1/Regular');
  padding-right: 100px;
  color: ds.color('Text/Secondary');
}

.price {
  @include ds.typo('Roboto/Subheadline 2/Bold');
  color: ds.color('Text/Brand');
}

.seats {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Error');

  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;

  background: ds.color('Background/Teritary');
  border-radius: 100px;
}