.wrapper {
  display: flex;
  padding: 8px 16px 8px 8px;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background: ds.color('Background/Secondary');
}

.img {
  width: 112px;
  flex-shrink: 0;
  align-self: stretch;
  aspect-ratio: 1/1;
  border-radius: 8px;
  overflow: hidden;
}

.content {
  display: flex;
  padding: 8px 0;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 2px;
  flex-grow: 1;

  .datesYear, .priceSeats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
  }

  .dates {
    @include ds.typo('Roboto/Caption 1/Regular');
    color: ds.color('Text/Brand');
  }

  .year, .location {
    @include ds.typo('Roboto/Caption 1/Regular');
    color: ds.color('Text/Secondary');
  }

  .name {
    @include ds.typo('Roboto/Subheadline 2/Regular');
    color: ds.color('Text/Primary');
  }

  .price {
    @include ds.typo('Roboto/Subheadline 2/Bold');
    color: ds.color('Text/Brand');
  }

  .seats {
    @include ds.typo('Roboto/Caption 1/Regular');
    color: ds.color('Text/Error');

    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: ds.color('Background/Teritary');
    border-radius: 100px;
  }
}