@mixin dark {
  /* Colors primitives */
  --color-white-100percent: #FFFFFF;
  --color-white-40percent: #FFFFFF66;
  --color-white-20percent: #FFFFFF33;
  --color-white-10percent: #FFFFFF1A;
  --color-brand-500: #D7F710;
  --color-brand-100: #2D320F;
  --color-error-500: #E53935;
  --color-black-500: #0F0F0F;
  --color-black-400: #212121;
  --color-black-300: #78797E;
  --color-black-200: #AAAAAA;

  /* Color tokens */
  --color-background-primary: var(--color-black-500);
  --color-background-secondary: var(--color-black-400);
  --color-background-teritary: var(--color-white-10percent);
  --color-background-alternative: var(--color-white-100percent);
  --color-background-brand: var(--color-brand-500);
  --color-background-accent: var(--color-brand-100);
  --color-text-primary: var(--color-white-100percent);
  --color-text-secondary: var(--color-black-200);
  --color-text-teritary: var(--color-black-300);
  --color-text-alternative: var(--color-black-500);
  --color-text-brand: var(--color-brand-500);
  --color-text-error: var(--color-error-500);
  --color-graphic-primary: var(--color-white-100percent);
  --color-graphic-secondary: var(--color-black-200);
  --color-graphic-teritary: var(--color-black-300);
  --color-graphic-brand: var(--color-brand-500);
  --color-border-primary: var(--color-white-10percent);
  --color-border-secondary: var(--color-white-20percent);
  --color-border-brand: var(--color-brand-500);
  --color-overlay-primary: #000000CC;
  --color-overlay-secondary: #00000066;
  --color-overlay-teritary: #00000033;
}
