.modalContent {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 16px;
}

.bookingDisclaimer {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Secondary');
  text-align: center; 
}