@use '@/shared/theme';

:root {
  @include ds.typo('Roboto/Text/Regular');

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
}

#root {
  width: 100%;
  overflow: hidden;
}

@media (prefers-color-scheme: light) {
  
}
