.wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 220px;
  position: relative;
  background: ds.color('Background/Secondary');
  border-radius: 16px;
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.time {
  @include ds.typo('Roboto/Subheadline 2/Bold');
  color: ds.color('Text/Brand');
}

.duration {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Secondary');
}

.body {
  display: flex;
  flex-direction: column;
  gap: 2px;
  flex-grow: 1;
}

.title {
  @include ds.typo('Roboto/Subheadline 2/Regular');
  color: ds.color('Text/Primary');
  margin: 0;
}

.location {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Secondary');
  margin: 0;
}

.footer {
  display: flex;
  align-items: flex-end;
}

.price {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.15px;
  color: ds.color('Text/Brand');
}

.availability {
  @include ds.typo('Roboto/Caption 1/Regular');
  margin-left: auto;
  border-radius: 100px;
  padding: 4px 8px;
  background: ds.color('Background/Teritary');
  
  &.noSeats {
    color: ds.color('Text/Secondary');
  }
  
  &.hasSeats {
    color: ds.color('Text/Primary');
  }
}