.wrapper {
  color: ds.color('Text/Primary');
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 32px;
}

.error {
  @include ds.typo('Roboto/Text/Regular');
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  color: ds.color('Text/Error');
  text-align: center;
}