.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px 16px;
  min-height: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-width: 300px;
  text-align: center;
}

.icon {
  font-size: 48px;
  line-height: 1;
}

.message {
  @include ds.typo('Roboto/Text/Regular');
  color: ds.color('Text/Secondary');
}

.hint {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Secondary');
  margin-top: 4px;
}
