.wrapper {
  color: ds.color('Text/Primary');
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 32px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  @include ds.typo('Roboto/Text/Regular');
  color: ds.color('Text/Secondary');
}
