.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.card {
  @include ds.typo('Roboto/Subheadline 2/Semibold');
  color: ds.color('Text/Primary');
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 12px;
  border-radius: 10px;
  background: ds.color('Background/Secondary');
  cursor: pointer;
}

.cardSelected {
  background: ds.color('Background/Alternative');
  color: ds.color('Text/Alternative');
}
