.categoryItem {
  background-color: ds.color('Background/Secondary');
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding: 8px 16px 8px 8px;
  border-radius: 16px;
  width: 100%;
}

.categoryImage {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex-shrink: 0;
}

.categoryContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  letter-spacing: 0.1px;
  min-height: 1px;
  min-width: 1px;
}

.categoryTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 26px;
  color: ds.color('Text/Primary');
  margin: 0;
  width: min-content;
  min-width: 100%;
}

.categorySchedule {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: ds.color('Text/Brand');
  margin: 0;
  white-space: nowrap;
}

.categoryIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.categoryItemDisabled {
  opacity: 0.5;
  pointer-events: none;
  
  .categorySchedule {
    color: ds.color('Text/Secondary');
  }
}