.wrapper {
  display: flex;
  flex-direction: column;
  padding: 32px var(--outer-horizontal-padding, 16px);
  gap: 32px;
}

.stub {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include ds.typo('Roboto/Subheadline 2/Regular');
  color: ds.color('Text/Secondary');
  margin: 0;
}

.error {
  color: ds.color('Text/Error');
}


.dayBlocks {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dayBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .day {
    @include ds.typo('Roboto/Caption 1/Bold Caps');
    color: ds.color('Text/Secondary');
  }
}

.entry {
  display: flex;
  gap: 12px;
  
  .categoryIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: ds.color('Background/Accent');
    color: ds.color('Text/Brand');
  }
  
  .info {
    flex-grow: 1;
  }

  .purpose {
    @include ds.typo('Roboto/Subheadline 2/Semibold');
    color: ds.color('Text/Primary');
  }

  .category {
    @include ds.typo('Roboto/Caption 1/Regular');
    color: ds.color('Text/Secondary');
  }

  .cost {
    @include ds.typo('Roboto/Subheadline 2/Regular');
    color: ds.color('Text/Secondary');
  }

  .costStatus {
    text-align: right;
  }

  .bonus, .status {
    @include ds.typo('Roboto/Caption 1/Semibold');
    color: ds.color('Text/Brand');
  }

  .failed, .cancelled {
    color: ds.color('Text/Error');
  }

  .pending {
    color: ds.color('Text/Brand');
  }
}