.wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  gap: 32px;
}

.emptyStub {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dayBlocks {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.dayBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .day {
    @include ds.typo('Roboto/Caption 1/Bold Caps');
    color: ds.color('Text/Secondary');
  }
}

.entry {
  display: flex;
  gap: 12px;
  
  .categoryIcon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: ds.color('Background/Accent');
    color: ds.color('Text/Brand');
  }
  
  .info {
    flex-grow: 1;
  }

  .purpose {
    @include ds.typo('Roboto/Subheadline 2/Semibold');
    color: ds.color('Text/Primary');
  }

  .category {
    @include ds.typo('Roboto/Caption 1/Regular');
    color: ds.color('Text/Secondary');
  }

  .cost {
    @include ds.typo('Roboto/Subheadline 2/Regular');
    color: ds.color('Text/Secondary');
  }

  .costStatus {
    text-align: right;
  }

  .cashback, .status {
    @include ds.typo('Roboto/Caption 1/Semibold');
    color: ds.color('Text/Brand');
  }

  .failed {
    color: ds.color('Text/Error');
  }
}