.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px var(--outer-horizontal-padding, 16px);
}

.bottomBarContent {
  padding: 16px var(--outer-horizontal-padding, 16px) 0;
}
.success {
  color: ds.color('Text/Brand');
}

.error {
  color: ds.color('Text/Error');
}
