.wrapper {
  --outer-horizontal-padding: 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin: 0 auto;

  padding-bottom: 70px;
  min-height: 100%;
}

.filtersSection {
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.divider {
  height: 1px;
  background: ds.color('Border/Primary');
  margin: 0 var(--outer-horizontal-padding, 16px);
}

.sessions {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}