.wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  margin: 0 auto;

  padding-top: 32px;
  padding-bottom: 50px;
  min-height: 100%;
}

.filtersSection {
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.divider {
  height: 1px;
  background: ds.color('Border/Primary');
  margin: 0 var(--outer-horizontal-padding, 16px);
}

.sessions {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
}

.dateHeader {
  @include ds.typo('Roboto/Caption 1/Bold Caps');
  padding: 0 var(--outer-horizontal-padding, 16px);
  margin: 0;
  width: 100%;
  color: ds.color('Text/Secondary');
}

.sessionList {
  gap: 8px;
}