.wrapper {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  cursor: pointer;

  width: 52px;
  height: 32px;

  border-radius: 16px;
}

.wrapper--disabled {
  cursor: default;
  opacity: .4;
}

.control::before {
  position: absolute;
  content: '';
  inset: 0;

  background: ds.color('Background/Teritary');
}

.wrapper .control::before {
  border-radius: 16px;
  border: 3px solid ds.color('Text/Secondary');
}

.control::after {
  position: absolute;
  content: '';

  top: 50%;
  transform: translateY(-50%);

  border-radius: 50%;
}

.wrapper .control::after {
  width: 16px;
  height: 16px;

  margin-left: 8px;
  background: ds.color('Text/Secondary');
}

.input:checked + .control::before {
  border-color: ds.color('Background/Brand');
  background-color: ds.color('Background/Brand');
}

.wrapper .input:checked + .control::after {
  width: 24px;
  height: 24px;
}

.input:checked + .control::after {
  transform: translateX(20px) translateY(-50%);
}

.wrapper .input:checked + .control::after {
  background: ds.color('Background/Primary');
  transform: translateX(16px) translateY(-50%);
}

@media (prefers-reduced-motion: no-preference) {
  .control::before {
    transition: background-color, border-color 67ms linear;
  }

  .control::after {
    /** Value from https://material-web.dev/components/switch/ */
    transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s
  }
}
