.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 32px 0;
  gap: 32px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sectionTitle {
  @include ds.typo('Roboto/Subheadline 2/Semibold Caps');
  color: ds.color('Text/Secondary');
  margin: 0;
  padding: 0 var(--outer-horizontal-padding, 16px);
}

.trainingCategories {
  padding: 0 var(--outer-horizontal-padding, 16px);
}

.aboutText {
  @include ds.typo('Roboto/Caption 1/Regular');
  color: ds.color('Text/Primary');
  margin: 0;
  padding: 0 var(--outer-horizontal-padding, 16px);
}

.aboutImages {
  padding: 0 var(--outer-horizontal-padding, 16px);
}

